<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PasSavr</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if root_path == request.fullpath %>">
        <a class="nav-link" href="/">Learn More</a>
      </li>
    </ul>

    <ul class="navbar-nav  my-2 my-lg-0">
      <% if user_signed_in? %>
        <li class="nav-item <%= 'active' if user_dashboard_path? %>">
          <a class="nav-link" href="/dashboard"><%= current_user.email %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-method="delete" href="/logout">Log Out</a>
        </li>
      <% else %>
        <li class="nav-item <%= 'active' if login_or_sign_up_path? %>">
          <a class="nav-link" href="/login">Login/ Sign Up</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
